#grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 960px;
    height: 960px;
    gap: 0;
    align-items: stretch;
}

.hover {
    background-color: blue;

}

.square {
    align-self: stretch;
}
